@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-poppins: Poppins, "sans-serif";
  --font-nunito: Nunito, "sans-serif";
  --font-bebasNeue: Bebas + Neue, "sans-serif";

  /* custom color theme */
  --color-custom-background: #0d1117;
  --color-custom-surfaceCards: #161b22;
  --color-custom-primaryText: #e6edf3;
  --color-custom-mutedText: #8b949e;
  --color-custom-accent: #00ffab;
  --color-custom-accentHover: #00cc88;
  --color-custom-accentClicked: #00b37e;
  --color-custom-textPrimaryLight: #1f2937;
  --color-custom-backgroundLight: #e2e8f0;
  --color-custom-surfaceCardsLight: #f1f5f9;

  --breakpoint-sm: 360px;
  --breakpoint-md: 821px;
  --breakpoint-lg: 976px;
}
@layer components{
  .custom-button-hover-transition{
    @apply hover:bg-custom-accentHover 
    hover:text-custom-textPrimaryLight 
    text-custom-primaryText 
    transition-colors 
    duration-150 
    ease-in
    dark:text-custom-textPrimaryLight 
    dark:hover:text-custom-primaryText
  }
  /* large sreen custom font sizes */
  .text-size-bodytext{font-size: 16px;}
  .text-size-button{font-size: 16px;}
  .text-size-labels{font-size: 14px;}
  .text-size-H6{font-size: 18px;}
  .text-size-H5{font-size: 20px;}
  .text-size-H4{font-size: 24px;}
  .text-size-H3{font-size: 28px;}
  .text-size-H2{font-size: 32px;}
  .text-size-H1{font-size: 40px;}

  /* small to medium sreen custom font sizes
  .font-size-mobile-bodytext{font-size: 16px;}
  .font-size-mobile-button{font-size: 16px;}
  .font-size-mobile-labels{font-size: 14px;}
  .font-size-mobile-H6{font-size: 18px;}
  .font-size-mobile-H5{font-size: 20px;}
  .font-size-mobile-H4{font-size: 24px;}
  .font-size-mobile-H3{font-size: 28px;}
  .font-size-mobile-H2{font-size: 32px;}
  .font-size-mobile-H1{font-size: 40px;} */
}

html,
body,
#root {
  height: 100%;
}
